gym==0.23.0                    # Entorno de simulación para aprendizaje por refuerzo
gymnasium==0.29.1             # Versión moderna de Gym con mejoras de API
matplotlib==3.9.0             # Biblioteca para visualización de gráficos en 2D
numpy==2.0.0                  # Biblioteca para cálculos numéricos
pandas==2.2.3                 # Manipulación y análisis de datos
scikit-learn==1.6.1           # Herramientas de machine learning
scipy==1.15.1                 # Algoritmos matemáticos y científicos
seaborn==0.13.2               # Visualización estadística basada en Matplotlib
stable_baselines3==2.5.0      # Conjunto de algoritmos de RL listos para usar
statsmodels==0.14.0           # Modelado estadístico y econométrico
ta==0.11.0                    # Indicadores de análisis técnico para series temporales
tqdm==4.66.1                  # Barra de progreso para bucles
yfinance==0.2.54              # Extracción de datos financieros desde Yahoo Finance
plotly==6.0.0                 # Visualización interactiva de gráficos
tensorboard==2.18.0           # Herramienta de visualización para TensorFlow